<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!-- <%= serverinfo %>.html, managed by Puppet -->
<HTML>
<HEAD>
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="-1">
</HEAD>
  <BODY>
    <%= domain_name %>
    <%= @fqdn %>
  </BODY>
</HTML>
